<launch>

  <arg name="model" default="$(find wheelchair_description)/urdf/wheelchair_model.urdf"/>
  <arg name="gui" default="true" />
  <arg name="use_tf_static" default="false"/> 
  <arg name="rvizconfig" default="$(find wheelchair_description)/rviz/urdf.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
  	<param name="use_tf_static" value="$(arg use_tf_static)"/>
  </node>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  <rosparam param="base_frame_id">"base_footprint"</rosparam>
  <remap from="zed/zed_node/odom" to="odom" />

</launch>
