<launch>
  <rosparam param="ticks_meter">5520</rosparam>
  <rosparam param="base_width">0.28</rosparam>
  <!--
  <node pkg="differential_drive" type="twist_to_motors.py" name="twist_to_motors" output="screen">
    <rosparam param="rate">50</rosparam>
    <rosparam param="timeout_ticks">2</rosparam>
  </node>
-->
  <node pkg="differential_drive" type="diff_tf.py" name="diff_tf" output="screen">
    <rosparam param="rate">10</rosparam>
    <rosparam param="base_frame_id">"base_footprint"</rosparam>
    <rosparam param="odom_frame_id">"odom"</rosparam>
    <!--<rosparam param="encoder_min">-32768</rosparam>
    <rosparam param="encoder_max">32768</rosparam>-->
  </node>

</launch>