<launch>
  <arg name="multi_robot_name" default=""/>
  <arg name="set_lidar_frame_id" default="front_scan"/>

  <!--from core-->
  <node pkg="rosserial_python" type="serial_node.py" name="wheelchair_core" output="screen">
    <param name="port" value="/dev/ttyACM0"/>
    <!--<param name="baud" value="115200"/>-->
    <param name="tf_prefix" value="$(arg multi_robot_name)"/>
  </node>

  <!--from lidar-->
  <!--<arg name="set_frame_id" default="base_scan"/>-->

  <node pkg="hls_lfcd_lds_driver" type="hlds_laser_publisher" name="wheelchair_lds" output="screen">
    <param name="port" value="/dev/ttyUSB0"/>
    <param name="frame_id" value="$(arg set_frame_id)"/>
  </node>

  <!--<include file="$(find turtlebot3_bringup)/launch/turtlebot3_core.launch">
    <arg name="multi_robot_name" value="$(arg multi_robot_name)"/>
  </include>
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_lidar.launch">
    <arg name="set_frame_id" value="$(arg set_lidar_frame_id)"/>
  </include>-->

  <!--<node pkg="turtlebot3_bringup" type="turtlebot3_diagnostics" name="turtlebot3_diagnostics" output="screen"/>-->
</launch>
