<launch>

  <arg name="publish_urdf" default="true" />
  <arg name="use_tf_static" default="true" />

  <group if="$(arg publish_urdf)">
    <param name="robot_description" textfile="$(find wheelchair_description)/urdf/wheelchair_model_tof7.urdf" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
      <param name="use_tf_static" value="$(arg use_tf_static" />
    </node>
  </group>
  <rosparam param="base_frame_id">"base_footprint"</rosparam>

</launch>
