<launch>
  <arg name="robot_namespace" value="wheelchair_robot" />
  <arg name="wheelchair_sim" default="false" />
  <arg name="rosbags" default="false" />
  <arg name="publish_urdf" default="true" />
  <arg name="use_tf_static" default="true" />
  <param name="/use_sim_time" value="true" if="$(arg wheelchair_sim)" />
  <param name="/use_sim_true" value="true" if="$(arg rosbags)" />
  <param name="/wheelchair_robot/param/training" type="bool" value="false" />

  <group if="$(arg publish_urdf)">
    <param name="robot_description" textfile="$(find wheelchair_description)/urdf/wheelchair_model_tof7.urdf" />
    <group unless="$(arg rosbags)">
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
      <param name="use_tf_static" value="$(arg use_tf_static" />
    </node>
    </group>
  </group>
  <rosparam param="base_frame_id">"base_link"</rosparam>

  <!--Global parameters-->
  <param name="/wheelchair_robot/param/mobilenet/confidence_threshold" type="double" value="0.35" />
  <!--<param name="/wheelchair_robot/param/user/room_name" type="string" value="null" />-->

  <group if="$(arg wheelchair_sim)">
    <!--add simulation params here-->
    <!--mobilenet camera input-->
    <param name="/wheelchair_robot/param/left_camera" type="string" value="/wheelchair_robot/left_camera/image_raw" />
    <!--static image publisher-->
    <!--<param name="param/mobilenet/image_src" type="string" value="/still_image_publisher/image_raw" />-->

    <!--pointcloud transformer - dacop package-->
    <param name="/wheelchair_robot/param/pointcloud" type="string" value="/wheelchair_robot/depth_camera/depth/points" />

    <!--Wheelchair cmd_vel driver-->
    <param name="/wheelchair_robot/param/cmd_vel" type="string" value="/wheelchair_robot/cmd_vel" />

  </group>
  <group unless="$(arg wheelchair_sim)">
    <!--add physical params here-->
    <!--mobilenet camera input-->
    <param name="/wheelchair_robot/param/left_camera" type="string" value="/zed/zed_node/left/image_rect_color" />
    <param name="/wheelchair_robot/param/left_camera_info" type="string" value="/zed/zed_node/left/camera_info" />

    <!--pointcloud transformer - dacop package-->
    <param name="/wheelchair_robot/param/pointcloud" type="string" value="/zed/zed_node/point_cloud/cloud_registered" />

    <!--Wheelchair cmd_vel driver-->
    <param name="/wheelchair_robot/param/cmd_vel" type="string" value="/wheelchair_robot/wheelchair_controller/cmd_vel" />
  </group>

</launch>
